#my-body {
  background-color: rgb(239, 235, 227);

}

.img-id {
  display: block;
  width: 500px;
  max-width: 100%;
  height: auto;
  margin: 0 auto;
}


.img-id2 {
  display: block;
  width: 500px;
  height: 700px;
  margin: 0 auto;
  margin-bottom: 20px;
}

#tagline-1 {
   text-align: center;
} 


.api-01 img {
  margin-bottom: 20px;
}

.code-container {
    position: relative;
    background-color: #1e2430;
    border-radius: 8px;
    overflow: hidden;
}

.code-toolbar {
    display: flex;
    justify-content: flex-end;
    gap: 8px;
    padding: 8px;
    background-color: #171c26;
}

.code-toolbar button {
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
   
}

.code-container pre {
    margin: 0;
    padding: 20px;
    overflow-x: auto;
}

.code-container code {
    white-space: pre;
}

.copy-btn {
  background-color: #272930;
}


.day-class{

    display: inline-block;
    padding: 10px 20px;
    /* text-decoration: none; */
    border-radius: 6px;
    /* background-color: #242121; */
    color: white;
}
