#my-body {
  background-color: rgb(239, 235, 227);

}

.img-id {
  display: block;
  width: 200px;
  margin: 0 auto;
}


.img-id2 {
  display: block;
  width: 200px;
  margin: 0 auto;
  margin-bottom: 20px;
}

#tagline-1 {
   text-align: center;
} 


.api-01 img {
  margin-bottom: 20px;
}

.code-container {
    position: relative;
    background-color: #1e2430;
    border-radius: 8px;
    overflow: hidden;
}

.code-toolbar {
    display: flex;
    justify-content: flex-end;
    gap: 8px;
    padding: 8px;
    background-color: #171c26;
}

.code-toolbar button {
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
   
}

.code-container pre {
    margin: 0;
    padding: 20px;
    overflow-x: auto;
}

.code-container code {
    white-space: pre;
}

.copy-btn {
  background-color: #272930;
}



.card {
  background-color: rgb(63, 52, 38);
  
}


.day-class{

    display: inline-block;
    padding: 10px 20px;
    /* text-decoration: none; */
    border-radius: 6px;
    background-color: #242121;
    color:#0077aa
}



.day-class-02 {
    display: block;
    margin-bottom: 24px;
    margin-left: 10px;
}

#summarize-button{
  margin-left: 10px;
  border-radius: 10px;
  padding: 10px 10px;
}

#day-4{
  color: rgb(190, 188, 188);
  margin-left: 10px;
}

#day4{
  margin-left: 10px;
  color: white;
}

#headline-7 {
  background-color: rgb(63, 52, 38);
  margin-bottom: 0px;
}

#Par-7 {
   background-color: rgb(63, 52, 38);
   margin-bottom: 0px;
}