.img-id {
  display: block;
  width: 500px;
  max-width: 100%;
  height: auto;
  margin: 0 auto;
}


.img-id2 {
  display: block;
  width: 500px;
  height: 700px;
  margin: 0 auto;
  margin-bottom: 20px;
}

#tagline-1 {
   text-align: center;
} 

.img-cat01 {
  width: 800px;
}